<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='dec2.css') }}"> 
        <!-- important to note, that the location of filename by default, is going to look for things in a 'static' folder -->
        <style>
            img {
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
            </style>
    </head>


    <body>

        <header>
            <h3>HealthStations</h3>
        </header>
          
        <section>

            <nav>
                <ul>
                    <li><a href="#">Find Doctors</a></li>
                    <li><a href="#">Find Destists</a></li>
                    <li><a href="#">Find Specialists</a></li>
                    <li><a href="#">Find Hospitals</a></li>
                   
                </ul>
            </nav>
            <nav>
                <ul>
                
                    <img src="static\OIP.jpg" alt="Paris" style="width:100%;">
                </ul>
            </nav>
            <article>
                <h1>About</h1>
                <p>At HealthStations, we take the guesswork out of finding </p>
                <p>the right doctors, hospitals, and care for you and your family.</p>
                <p>By making healthcare easier and more transparent</p> 
                <p>HealthStations empowers you to make decisions based on information,</p> 
                <p>not just instinct. You can rest easy knowing you and your family </p>
                <p>are receiving proven, high-quality care that's right for you.</p>
                <p>Please contact us for any question you may have   <a href="https://www.w3schools.com/html/html_layout.asp">    HealthStations   </a>    </p>
            </article>

        </section>
          
        <footer>
            <p>Copyright 2022 - HealthStations </p>
        </footer>

    </body>


</html>